<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>path</key>
	<array>
		<array>
			<integer>0</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>3</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>3</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>5</integer>
			<integer>4</integer>
		</array>
		<array>
			<integer>5</integer>
			<integer>6</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>6</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>12</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>12</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>17</integer>
			<integer>2</integer>
		</array>
	</array>
	<key>waves</key>
	<array>
		<dict>
			<key>ghost</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>ghost</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>dwarf</key>
			<integer>2</integer>
		</dict>
        <dict>
			<key>dwarf</key>
			<integer>5</integer>
		</dict>
        <dict>
			<key>bat</key>
			<integer>2</integer>
		</dict>
        <dict>
			<key>ghost</key>
			<integer>6</integer>
		</dict>
        <dict>
			<key>dwarf</key>
			<integer>5</integer>
		</dict>
        <dict>
			<key>dwarf</key>
			<integer>6</integer>
		</dict>
        <dict>
			<key>bat</key>
			<integer>4</integer>
		</dict>
        <dict>
			<key>bat</key>
			<integer>6</integer>
		</dict>
	</array>
	<key>map</key>
	<array>
		<string>2222222222222222</string>
		<string>2222222222222222</string>
		<string>2200220220221111</string>
		<string>2000000000001022</string>
		<string>2201110000001020</string>
		<string>2001010000001020</string>
		<string>2001011111101020</string>
		<string>2201000000101020</string>
		<string>1111002330111020</string>
		<string>2222223333322220</string>
		<string>2222222222222222</string>
	</array>
</dict>
</plist>
