<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>waves</key>
	<array>
		<dict>
			<key>dwarf</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>dwarf</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>dwarf</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>bat</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>bat</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>dwarf</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>dwarf</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>bat</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>ghost</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>dwarf</key>
			<integer>50</integer>
		</dict>
	</array>
	<key>map</key>
	<array>
		<string>2222222222222222</string>
		<string>2222222222222222</string>
		<string>1112111211121111</string>
		<string>2010101010101022</string>
		<string>2010101010101022</string>
		<string>2010101010101022</string>
		<string>2010101010101022</string>
		<string>2010101010101022</string>
		<string>2011101110111022</string>
		<string>2222222222222222</string>
		<string>2222222222222222</string>
	</array>
	<key>path</key>
	<array>
		<array>
			<integer>0</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>2</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>4</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>4</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>6</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>8</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>10</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>12</integer>
			<integer>8</integer>
		</array>
		<array>
			<integer>12</integer>
			<integer>2</integer>
		</array>
		<array>
			<integer>16</integer>
			<integer>2</integer>
		</array>
	</array>
</dict>
</plist>
